params {
    container = "quay.io/fhcrc-microbiome/midas:v3.0.0.2"
    samplesheet = false
    db = false
    outdir = false

    // MIDAS Analysis Options
    analysis_mode = false

    // Species options
    word_size = 28
    aln_cov = 0.75

    // Genes / SNPs options
    aln_speed = "very-sensitive" // or very-fast, fast, sensitive
    aln_mode = "local" // or global
    aln_mapid = 94.0
    aln_mapq = 0
    aln_readq = 20
    total_depth = 1
    fragment_length = 1000
    aln_baseq = 30
    aln_trim = 0
    site_depth = 2
    snp_maf = 0.1
}